<% include ../partials/header.ejs %>
<div class="col-md-6 newPlayerForm">
<form action="/newPlayer" method="POST">
  <div class="form-group">
    <label for="voornaam">Voornaam</label>
    <input type="text" class="form-control" id="voornaam" name="voornaam">
    <label for="familienaam">Familienaam</label>
    <input type="text" class="form-control" id="familienaam" name="familienaam">
    <label for="number">Nummer</label>
    <input type="number" min="1" max="100" class="form-control" id="number" name="nummer">
    <button class="btn btn-primary" type="submit">Toevoegen</button>
  </div>
</form>
</div>
<% include ../partials/footer.ejs %>