<% include ../partials/header.ejs %>
<div class="container">
<div class="col-md-3"> </div>
<div class="col-md-3 leftbanner">
<div class="teamList">
    <h3>Teams</h3>
        <% teams.forEach(function(team){%>
        <div class="row">
            <a href="/team/<%=team.team.teamName%>"><h3><%= team.team.teamName%></h3><a>
        </div>
        <%})%>
</div>
</div>
</div>
<% include ../partials/footer.ejs %>