      
      <% include ../partials/header.ejs %>
      <h5 class="my-0 mr-md-auto font-weight-normal">
          <%if(team.team.teamName){%>
          <%=team.team.teamName%>
          <%}%>
      </h5>
      <% include ../partials/footer.ejs %>